body {
  background-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  height: 100%;
}
.wrap {
  width: 440px;
  /* padding: 10px 60px; */
  height: 220px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: space-between; */
}
.wrap span {
  color: #54595E;
  width: 8px;
  height: 18px;
  margin: 8px 4.2px;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}
.wrap span:hover {
  color: white;
}